<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      SS APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row *ngIf="edad > 10">
      <ion-col><ion-input label="Nombre:" labelPlacement="stacked" type="text" [(ngModel)]="user1" placeholder="{{nombreUsuario}}" minlength="3" maxlength="8" [counter]="true"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-input label="Contraseña" labelPlacement="stacked" type="password" [(ngModel)]="contrasena" (keypress)="validatePasswordInput($event)" placeholder="Su contraseña" minlength="4" maxlength="4" [counter]="true"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col> <ion-button type="block" (click)="irPag1()" >Inicie Sesión {{user1}}</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>

    <mat-slide-toggle></mat-slide-toggle>
  </ion-grid>

  <app-componente1 nombre="Cuando_t3_pasa" contra=""></app-componente1>
  
  <ion-grid>
    <ion-row *ngFor="let k of personas">
      <ion-label> Nombre: {{k.nombre | uppercase}} <br>
        Edad: {{k.edad}} <br>
        Fecha de nacimiento: {{k.fecha | date:'dd MMMM yyyy'}}
      </ion-label>
    </ion-row>
    
  </ion-grid>

  <ion-grid>
    <div class="contenedor">
      <div class="track">
        <ion-card id="card" button="true">
          <ion-card-content>Card</ion-card-content>
        </ion-card>
      </div>
    
      <p>Muevelo muevelo.</p>
    </div>
  </ion-grid>
  
</ion-content>
