<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      SS APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col><ion-input label="Usuario:" labelPlacement="stacked" type="text" [(ngModel)]="user1" placeholder="{{nombreUsuario}}" minlength="3" maxlength="8" [counter]="true"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-input label="Contraseña" labelPlacement="stacked" type="password" (keypress)="validatePasswordInput($event)" placeholder="Su contraseña" minlength="4" maxlength="4" [counter]="true"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col> <ion-button type="block" (click)="irPag1()" >Inicie Sesión {{user1}}</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
